body {
  background-color: #fff;
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", "Helvetica", "Verdana", "Arial", sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@media (max-width: 767.98px) {
  body {
    font-size: 10pt;
  }
}

hr {
	position: relative;
  background-color: #999;
  color: #999;
  border: 0 none;
  height: 1px;
}

.zh {
  font-family: "隶书", "STKaiti", "SimSun";
}
